
$primary: #409EFF;
$info: #909399;
$info-background:#f4f4f5;
$success: #67C23A;
$success-background:#f0f9eb;
$warn: #E6A23C;
$warn-background:#fdf6ec;
$danger: #F56C6C;
$danger-background:#fef0f0;
$border: #DCDFE6;
$text:#303133;
$background:#fff;
$background2:#f2f3f5;
$shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$disabledOpacity:0.5
