<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="dist/theme-chalk/index.css" rel="stylesheet" type="text/css" />
  <script src="https://unpkg.com/vue@3"></script>
  <style>
    .button{
      margin:10px;
    }
    .select{
      position: relative;
      padding: 10px;
    }
    .input{
      padding: 10px;
    }
    .row-demo{
      height: 20px;
      width: 100%;
      margin: 2px;
      border-radius: 5px;
    }
    .bg-blue-5{
      background-color: #d9ecff;
    }
    .header{
      background-color: #c0d7ef;
    }
    .aside{
      background-color: antiquewhite;
    }
    .footer{
      background-color: aqua;
    }
  </style>
</head>
<body>
  <div id="app">
    <div >
      <my-container>
        <my-header class="header">Header</my-header>
        <my-container>
          <my-aside width="200px" class="aside"><my-menu :items=items mode="horizontal" trigger='click' /></my-aside>
          <my-container>
            <my-main>
              <div class="button">
                <my-button  text @click="test" >保存</my-button>
                <my-button type="primary" text>保存</my-button>
                <my-button type="success" text>保存</my-button>
                <my-button type="warning" text>保存</my-button>
                <my-button type="danger" text>保存</my-button>
                <my-button type="info" text>保存</my-button>
              </div>
              <div class="button">
                <my-button >保存</my-button>
                <my-button type="primary" icon="success">保存</my-button>
                <my-button type="success" >保存</my-button>
                <my-button type="warning" >保存</my-button>
                <my-button type="danger" >保存</my-button>
                <my-button type="info" >保存</my-button>
              </div>
              <div class="select">
                <my-select :options="selOptions" v-model="selVal_arr"  @change="selchange" multiple></my-select>
              </div>
              <div class="select">
                <!-- <my-select :options="selOptions" v-model="selVal"  @change="selchange"></my-select> -->
              </div>
              <bp-row :gutter="1">
                <bp-col :span="8" title="span=8"><div class="row-demo bg-blue-5">shishi</div></bp-col>
                <bp-col :span="16" title="span=16"><div class="row-demo bg-blue-5">shishi</div></bp-col>
            </bp-row>
            <bp-row :gutter="1">
                <bp-col :span="3" title="span=3"><div class="row-demo bg-blue-5">ss</div></bp-col>
                <bp-col :span="10" title="span=10"><div class="row-demo bg-blue-5">ss</div></bp-col>
                <bp-col :span="11" title="span=11"><div class="row-demo bg-blue-5"></div></bp-col>
            </bp-row>
            <bp-row :gutter="1">
                <bp-col :span="4" title="span=4"><div class="row-demo bg-blue-5"></div></bp-col>
                <bp-col :span="8" title="span=8"><div class="row-demo bg-blue-5"></div></bp-col>
                <bp-col :span="3" title="span=3"><div class="row-demo bg-blue-5"></div></bp-col>
                <bp-col :span="9" title="span=9"><div class="row-demo bg-blue-5"></div></bp-col>
            </bp-row>
            <div class="input">

              <my-input v-model="val" placeholder="test" disabled righticon="calendar-o"></my-input>
            </div>
            <div class="input">
              <my-input v-model="val" placeholder="test" type="password"></my-input>
            </div>
            <div class="input">
              <my-input placeholder="test" focuscolor="red" clearable v-model="something"></my-input>
            </div>

            <div class="input">
              <my-input placeholder="test" focuscolor="red" righticon="calendar-o" v-model="something"></my-input>
            </div>
            <div class="input">
              <my-input placeholder="test" clearable v-model="something">
                <template #append><my-button >保存</my-button></template>
              </my-input>
            </div>
            <div class="input">
              <my-input placeholder="test" clearable v-model="something">
                <template #append>
                <my-select :options="selOptions" v-model="selVal_arr"  @change="selchange" multiple></my-select>

                </template>
              </my-input>
            </div>
            <div class="input">
              <my-input  placeholder="test" focuscolor="brown" v-model="something" size="mini" lefticon="warning-o"></my-input>
            </div>
            <tool-tip content="这是提示内容" direction="bottom-left" delay="5000">内容 </tool-tip>
            <tool-tip content="这是提示内容" direction="bottom" trigger="click" >内容 </tool-tip>
            <tool-tip content="这是提示内容" direction="bottom-right">内容 </tool-tip>
            <p>{{val}}</p>
            </my-main>
            <my-footer class="footer">Footer</my-footer>
          </my-container>
        </my-container>
      </my-container>
    </div>
    
  </div>
</body>
<script src="dist/my-lib-global.js"></script>
<script>
  const { createApp } = Vue

  console.log('myLib', myLib)

const app = createApp({
  components: {
    MyButton: myLib.Button,
    MyIcon: myLib.Icon,
    MySelect: myLib.Select,
    BpRow: myLib.MyRow,
    BpCol: myLib.MyCol,
    MyAside:myLib.MyAside,
    MyContainer:myLib.MyContainer,
    MyFooter:myLib.MyFooter,
    MyHeader:myLib.MyHeader,
    MyMain:myLib.MyMain,
    MyInput:myLib.MyInput,
    MyMenu:myLib.MyMenu,
    ToolTip:myLib.ToolTip
  },
  data() {
    return {
      selOptions: [
          { label: "中国", value: "zhongguo" },
          { label: "俄罗斯", value: "eluosi", disabled: true },
          { label: "美国", value: "meiguo" },
          { label: "澳大利亚", value: "aodaliya", disabled: true },
          { label: "巴基斯坦", value: "bajisitan" },
          { label: "泰国", value: "Thailand" },
          { label: "韩国", value: "Korea" },
          { label: "日本", value: "Japan" },
          { label: "加拿大", value: "Canada" },
      ],
      message: 'Hello Vue!',
      selVal:'',
      selVal_arr:[],
      val:'',
      something:'',
      items:[
        {
          label: '用户管理',
          key: 'user',
          icon: 'user',
          children: [
            {
              label: '用户列表',
              key: 'aa'
            },
            {
              label: '添加用户',
              key: 'ab'
            }
          ]
        },
        {
          label: 'Navigator Two',
          key: 'b',
          icon: 'search',
          children: [
            {
              label: 'item one',
              key: 'b1',
              children: [
                {
                  label: 'item two',
                  key: 'b2',
                },
                {
                  label: 'item three',
                  key: 'b3',
                }
              ]
            },
            {
              label: 'item one',
              key: 'b4',
            },
            {
              label: 'item one',
              key: 'b5',
            }
          ]
        },
        {
          label: '系统设置',
          key: 'set',
          icon: 'date',
          disabled: true
        }
      ]
    }
  },
  methods: {
    test(){
      alert('11')
    },
    selchange(item,index){
      console.log(item, index);
    }
  },
}).mount('#app')


</script>
</html>